<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TV-show</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "main.css" %}">
    </head>
    <body>
        <div class="container shows__container">
            <div>
                <button type="button" class="btn btn-secondary shows__button"><a href="/shows/">All shows</a></button>
                <button type="button" class="btn btn-secondary shows__button"><a href="/shows/latest">Latest</a></button>
                <button type="button" class="btn btn-secondary shows__button"><a href="/shows/year">Year</a></button>
                <button type="button" class="btn btn-secondary shows__button"><a href="/shows/anime">Anime</a></button>
                <button type="button" class="btn btn-secondary shows__button"><a href="/shows/action">Action</a></button>
                <button type="button" class="btn btn-secondary shows__button"><a href="/shows/romantic">Romantic</a></button>
                <button type="button" class="btn btn-secondary shows__button"><a href="/shows/horror">Horror</a></button>
                <button type="button" class="btn btn-secondary shows__button"><a href="/shows/fantastic">Fantastic</a></button>
            </div>
            <div class="row gy-5">
                {% for show in shows %}
               <div class="col-3">
                   <div class="card">
                      <img src="{{ show.image.url }}" class="card-img-top shows__img" alt="">
                      <div class="card-body shows__cardbody">
                        <h5 class="card-title">{{ show.title }}</h5>
                        <p class="card-text">{{ show.genre }}</p>
                        <a href="{{ show.id }}/" class="btn btn-primary">Go detail</a>
                      </div>
                    </div>
               </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>