<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Shows detail</title>
    </head>
    <body>
        <div>
            <h2>{{ show.title }}</h2>
            <img src="{{ show.image.url }}" alt="">
            <p>{{ show.description }}</p>
            <p>Genre: {{ show.genre }}</p>
            <p>quantity: {{ show.quantity }}</p>
            <p>create date: {{ show.created_date }}</p>
            <p>update date: {{ show.updated_date }}</p>
        </div>
        <div>
            <h3>Comments:</h3>
            <ul>
                {% for i in show.shows_comment.all %}
                <li>
                    <p>{{ i.text }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>